{
  "openaiApiKey": "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",
  "smtp": {
    "host": "",
    "port": 587,
    "secure": false,
    "auth": {
      "user": "",
      "pass": ""
    },
    "from": ""
  },
  "tls": {
    "certPath": "save/private/cert.pem",
    "keyPath": "save/private/key.pem"
  }
}